@model WebAdvert.Web.Models.Accounts.ConfirmForgotPassword;


<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ConfirmForgotPasswordCode" asp-controller="accounts">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPasword"></label>
                <input asp-for="NewPasword" class="form-control" />
                <span asp-validation-for="NewPasword"></span>
            </div>

            <div class="form-group">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code"></span>
            </div>

            <button type="submit" class="btn btn-info">
                I got it!
            </button>
        </form>
    </div>
</div>
