
@model WebAdvert.Web.Models.Accounts.ForgotPasswordModel;

<div class="row">
    <div class="col-md-4">
        <h4>Forgot your password?</h4>
        <h5>Let us know your email and we will help you with it!</h5>

        <form method="post" asp-controller="Accounts" asp-action="ForgotPassword">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>

            <button type="submit" class="btn btn-info">Help Me!</button>
        </form>
    </div>
</div>


